.bookItem {
	border-bottom: 1px solid rgb(193, 185, 209);
	display: flex;
	justify-content: space-between;
	padding-bottom: var(--default-padding);
}

.bookInfo {
	align-items: start;
	color: rgb(193, 185, 209);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.bookTitle {
	font-size: 1.5rem;
	font-weight: bold;
}

.bookAuthor {
	font-size: 1.25rem;
	text-decoration-line: underline;
}

.bookPrice {
	color: var(--light-blue);
	font-size: 1.25rem;
	font-weight: 900;
}

@media (max-width: 600px) {
	.bookItem {
		align-items: start;
		flex-direction: column;
		gap: 0.5rem;
	}
}
