.bookItem {
	align-items: center;
	border-bottom: 1px solid #c1b9d1;
	color: white;
	display: flex;
	gap: 0.5rem;
	justify-content: space-between;
	margin-right: 0.5rem;
	padding: var(--default-padding) 0;
}

.bookInfo {
	align-items: start;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.changeRentalButtons {
	align-items: center;
	display: flex;
	gap: 0.5rem;
}

.changeRentalButton {
	font-weight: bold;
}

.bookTitle {
	font-size: 1.5rem;
	font-weight: bold;
}

.bookPrice {
	font-style: italic;
}

.rentalTime {
	align-items: center;
	display: flex;
	gap: 0.25rem;
}

.rentalTimeBackground {
	background: #30304b;
	border: 1px solid white;
	border-radius: var(--small-border-radius);
	font-weight: bold;
	padding: var(--little-padding) var(--small-padding);
}

@media (max-width: 600px) {
	.bookItem {
		align-items: start;
		flex-direction: column;
	}
}
