:root {
	/* colors */
	--background-dark: #202020;
	--background-light: #313131;
	--blue: #5958b6;
	/* border-radius */
	--small-border-radius: 0.5rem;
	--default-border-radius: 1rem;
	--medium-border-radius: 2rem;
	/*box-shadow */
	--default-box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.25);
	--strong-box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.5);
	--strongest-box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 1);
	/* margin */
	--small-margin: 0.5rem;
	--default-margin: 1rem;
	--medium-margin: 2rem;
	/* padding */
	--small-padding: 0.5rem;
	--default-padding: 1rem;
	--medium-padding: 2rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}
